{% extends "bibblio/layout.html" %}
{% load static %}


{% block react_components%}
    {% comment %} comment and script tag tab structure that matches components directory structure {% endcomment %}
    {% comment %} components {% endcomment %}
        {% comment %} logged in components {% endcomment %}
            {% comment %} forms {% endcomment %}
                {% comment %} form elements {% endcomment %}
                <script src="{% static 'js/components/logged_in/forms/form_elements/multi_select_instructions.js' %}" type="text/babel"></script>
                <script src="{% static 'js/components/logged_in/forms/form_elements/inline_radios.js' %}" type="text/babel"></script>
                <script src="{% static 'js/components/logged_in/forms/form_elements/multi_select.js' %}" type="text/babel"></script>
                <script src="{% static 'js/components/logged_in/forms/form_elements/multi_select_group.js' %}" type="text/babel"></script>
                <script src="{% static 'js/components/logged_in/forms/form_elements/text_controls.js' %}" type="text/babel"></script>
                <script src="{% static 'js/components/logged_in/forms/form_elements/modal_form_with_button.js' %}" type="text/babel"></script>
                {% comment %} modal forms {% endcomment %}
                    {% comment %} form instances {% endcomment %}
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/delete_shelf_form.js' %}" type="text/babel"></script>
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/remove_book_form.js' %}" type="text/babel"></script>
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/edit_book_form.js' %}" type="text/babel"></script>
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/add_book_form.js' %}" type="text/babel"></script>
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/edit_shelf_form.js' %}" type="text/babel"></script>
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/add_shelf_form.js' %}" type="text/babel"></script>
                    <script src="{% static 'js/components/logged_in/forms/modal_forms/form_instances/add_book_to_shelf_form.js' %}" type="text/babel"></script>
                <script src="{% static 'js/components/logged_in/forms/modal_forms/modal_form_base.js' %}" type="text/babel"></script>
                
            {% comment %} filterable list {% endcomment %}
                {% comment %} items_list components {% endcomment %}
                    {% comment %} items components {% endcomment %}
                    <script src="{% static 'js/components/logged_in/filterable_list/items_list/items/clickable_badge.js' %}" type="text/babel">></script>
                    <script src="{% static 'js/components/logged_in/filterable_list/items_list/items/book_card.js' %}" type="text/babel">></script>
                <script src="{% static 'js/components/logged_in/filterable_list/items_list/items_list.js' %}" type="text/babel">></script>
                {% comment %} shelf_editor component {% endcomment %}
                <script src="{% static 'js/components/logged_in/filterable_list/shelf_editor/shelf_editor.js' %}" type="text/babel">></script>
            <script src="{% static 'js/components/logged_in/filterable_list/filterable_list.js' %}" type="text/babel">></script>
            {% comment %} shelf links {% endcomment %}
            <script src="{% static 'js/components/logged_in/shelf_links/shelf_links.js' %}" type="text/babel"></script>
        <script src="{% static 'js/components/logged_in/logged_in_view.js' %}" type="text/babel"></script>

        {% comment %} logged out components {% endcomment %}
            {% comment %} forms {% endcomment %}
            <script src="{% static 'js/components/logged_out/forms/login_form.js' %}" type="text/babel"></script>
        <script src="{% static 'js/components/logged_out/logged_out_view.js' %}" type="text/babel"></script>
        {% comment %} navigation {% endcomment %}
        <script src="{% static 'js/components/navigation/my_nav_bar.js' %}" type="text/babel"></script>
    
    <script src="{% static 'js/components/app.js' %}" type="text/babel"></script>
{% endblock %}

{% block body %}
    <div id="{{app_container}}"></div>
{% endblock %}

{% block json_data %}
    {{is_authenticated| json_script:"is_authenticated_data"}}
    {{is_register_view| json_script:"is_register_view_data"}}

    {{user| json_script:"user_data"}}

    {{menu_urls| json_script:"menu_urls_data"}}

    {{api_urls| json_script:"api_urls_data"}}

{% endblock %}