{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Bibbl.io</title>
  </head>
  <body>
    <div id="root"></div>
    {% block json_data %}
        {{is_authenticated| json_script:"is_authenticated_data"}}
        {{is_register_view| json_script:"is_register_view_data"}}

        {{user| json_script:"user_data"}}

        {{menu_urls| json_script:"menu_urls_data"}}

        {{api_urls| json_script:"api_urls_data"}}

    {% endblock %}
    <script src="{% static 'index-bundle.js' %}"></script>
  </body>
</html>